.react__slick__slider__parent {
    position: relative;
}

.react__slick__slider__parent .slick-prev,
.react__slick__slider__parent .slick-next {
    position: absolute;
    top: 50%;
}
.react__slick__slider__parent .slick-prev {
    color: black;
    z-index: 1;
}
.react__slick__slider__parent .slick-next {
    border-radius: 50%;
    color: black;
    z-index: 1;
}

.react__slick__slider__parent .slick-prev:before,
.slick-next:before {
    color: black;
}

.swal2-modal {
  direction: rtl;
}